@charset "utf-8";
/*@import 'normalize.css'*;*/
/* 引入外部css文件 不建议用这种方式引用单独的css因为也会靠成下载*/
@import '../../src/sass/mobile.base.css';
/*引入compass框架*/
@import 'compass/css3';

/*引入css可以引入模块化会把代码加进来*/
@import 'module';
/*定义变量先定义再使用*/
$color:red;
$font-satack: Helvetica,sans-serif;
$primary-color: #333;
$bg:#ccddee;
$bg:green;


/*混入格式 todo 多态*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;

}
#page {
	width:100px;
	height: 100px;
	border-radius:(10px);
	border:1px solid red;
}
/*使用 compasss框架*/
div {
	@include border-radius(12px);
	border:1px solid red;
}
nav {
	overflow:hidden;
}
nav ul {
	border:1px solid red;
	overflow:hidden;
}
/*嵌套css*/
nav ul {
  li {
    color:$color;
    background:$bg;
    border:1px solid $color;
	float:left;
	overflow:hidden;
	width: 100px;
	height: 20px;
	line-height: 20px;
	text-align:center;
	@include border-radius(2px);
  }
  li:hover {
	background:$color;
	color:#fff;
  }
}
.contet{
	background:$bg;
	height: 100px;
	width:300px;
	overflow:hidden;
	margin-bottom:20px;
}
/*@extend */
.message {
  background: #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  background:green;
}

.error {
  @extend .message;
  background:red;
}

.warning {
  @extend .message;
  background:yellow;
}
.footer {
	font-size: 70%;
}
$fontSize: 16;
.footer p {
	font-size: (48/$fontSize)+rem;//em and rem 
	border:1px solid #ddccee;
	margin-top: 20px;
	 float: left;
  width: 0px / 960px * 100%;
}
@media screen and (max-width : 480px){
   body {
    font-size:60%;
  }
  .header-info-hd img {
    width: 72px;
    height: 72px;
  }
  .ui-title {
    height: 25px;
    line-height: 25px;
  }
  .header-info-bd-title {
    margin-bottom: 0;
  }
}
@media screen and (max-width : 725px){
 body {
 }
 .header-info-bd-title {
    margin-bottom: 0;
}
}
@media screen and (min-width: 320px) and (max-width : 479px){
	body {
		background:green;
	}
}

@media screen and (min-width: 480px) and (max-width: 639px) {
}

@media screen and (min-width: 640px) and (max-width: 725px) { 
 
}

@media screen and (min-width: 768px) and (max-width: 799px)  { 

}

@media screen and (min-width: 800px) and (max-width: 1024px) { 

}

@media screen and (min-width: 1024px) and (max-width: 1280px) { 

}



