@charset "UTF-8";
@import url("./src/sass/screen.scss");
@import url(mobile.base.css);
/*@import 'normalize.css'*;*/
/* 引入外部css文件 */
/*引入css可以引入模块化会把代码加进来*/
html {
  border: 1px solid blue; }

body {
  background: #eeddcc; }

section {
  border: 1px solid red; }

.class {
  color: red; }

/*定义一个变量*/
/*混入格式 todo 多态*/
nav {
  overflow: hidden; }

nav ul {
  border: 1px solid red;
  overflow: hidden; }

/*嵌套css*/
nav ul li {
  color: red;
  background: green;
  border: 1px solid red;
  float: left;
  overflow: hidden;
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
nav ul li:hover {
  background: red;
  color: #fff; }

.contet {
  background: green;
  height: 100px;
  width: 300px;
  overflow: hidden;
  margin-bottom: 20px; }

/*@extend */
.message, .success, .error, .warning {
  background: #ccc;
  padding: 10px;
  color: #333; }

.success {
  background: green; }

.error {
  background: red; }

.warning {
  background: yellow; }

.footer {
  font-size: 70%; }

.footer p {
  font-size: 3rem;
  border: 1px solid #ddccee;
  margin-top: 20px;
  float: left;
  width: 62.5%; }
